#product-overview {
    /* Картинка в качестве фона */
    background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent), url("images/freedom.jpg") left 10% bottom 20%/cover no-repeat border-box, #ff1b68 ;
    /* Можно использовать несколько картинок */
    /* background-image: url("freedom.jpg"); */
    /* Размер картинки. Можно задавать в пикселях, процентах */
    /* Возможные значения: 
    /* auto - автоматически подстраивать ширину/высоту чтобы сохранить пропорции, */
    /* cover - автоматически определяет какая из сторон важнее и покрывает контейнер в зависимости от нее,
    /* contain - уместить всю картинку */
    /* background-size: cover; */
    /* Повторение картинки */
    /* background-repeat: no-repeat; */
    /* Позиция картинки */
    /* Если задано в пикселях, то определяет сдвиг */
    /* Если задано в процентах, то определяет процент отрезанной части, которую требуется отобразить в контейнере (слева/сверху) */
    /* Возможные значения: */
    /* center: 50% 50% */
    /* left top: 0% 0% */
    /* background-position: left 10% bottom 20%; */
    /* Определяет область позиционирования фонового рисунка */
    /* Возможные значения: */
    /* content-box - Фон позиционируется относительно содержимого элемента. */
    /* border-box - Фон позиционируется относительно границы, при этом линия границы может перекрывать изображение.*/
    /* padding-box - Фон позиционируется относительно края элемента с учетом толщины границы. */
    /* background-origin: border-box; */
    /* Определяет, как цвет фона или фоновая картинка должна выводиться под границами.  */
    /* Возможные значения: */
    /* content-box - Фон отображается только внутри контента. */
    /* border-box - Фон выводится под границами.*/
    /* padding-box - Фон отображается внутри границ. */
    /* background-clip: border-box; */
    /* Устанавливает, будет ли прокручиваться фоновое изображение вместе с содержимым элемента */
    /* Возможные значения: */
    /* fixed - Делает фоновое изображение элемента неподвижным. */
    /* scroll - Позволяет перемещаться фону вместе с содержимым. */
    /* local - Фон фиксируется с учётом поведения элемента. Если элемент имеет прокрутку, то фон будет прокручиваться вместе с содержимым, но фон выходящий за рамки элемента остаётся на месте. */
    /* background-attachment: fixed; */
    /* Линейный градиент */
    /* Первый аргумент: направление градиента (словами, углом) */
    /* Второй аргумент: цвет (с процентом покрытия) */
    /* background-image: linear-gradient(to left bottom, red, blue); */
    /* Радиальный градиент */
    /* Первый аргумент: форма (круг, эллипс), размер и позиция */
    /* Второй аргумент: цвет (с процентом покрытия) */
    /* background-image: radial-gradient(circle 50px at top, red, blue); */
    width: 100%;
    height: 528px;
    margin-top: 2.75rem;
    position: relative;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
    position: absolute;
    bottom: 5%;
    left: 3%;
}

.plan__list {
    width: 80%;
    margin: auto;
    text-align: center;
}

.plan {
    background: #d5ffdc;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plan--highlighted {
    background: #19b84c;
    color: white;
    /* Тень: <сдвиг по x> <сдвиг по y> <радиус размытия> <растяжение> <цвет> */
    /* Цвет: RGB + прозрачность */
    box-shadow: 2px 2px 2px 2px rgba(124, 32, 32, 0.5);
}

.plan__annotation {
    background: white;
    color: #19b84c;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(124, 32, 32, 0.5);
    /* Закругленные края */
    border-radius: 8px;
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: #6e6e6e;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan--highlighted .plan__price {
    color: #0e4f1f;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature {
    margin: 0.5rem 0;
}

#key-features {
    background: #ff1b68;
    margin-top: 5rem;
    padding: 1rem;
}

#key-features .section-title {
    color: white;
    margin: 2rem;
}

.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-feature__image {
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    /* Для того, чтобы сделать круг, скругляем края на 50% */
    border-radius: 50%; 
    /* Выравнивание div с display: block по середине */
    margin: 0 auto;
    padding: 1.5rem;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
}

/* h1 {
    font-family: sans-serif;
} */
