main {
    padding-top: 2rem;
}

/* Картинка на заднем фоне */
.background {
    background: url('../images/plans-background.jpg') center/cover;
    filter: grayscale(40%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.package {
    border: 4px solid #0e4f1f;
    border-left: none;
    width: 80%;
    margin: 1rem 0;
    position: relative;
}

.package a {
    text-decoration: none;
    display: block;
    color: inherit;
    padding: 2rem;
}

.package:hover,
.package:active {
    border-color: #ff5454;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.package__badge {
    /* Позиция относительно .package */
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.2rem;
    font-size: 0.8rem;
    color: white;
    background: #ff5454;
    padding: 0.5rem;
}

.package__title {
    color: black;
}

.package__annotation {
    color: #979797;
}

.package__description{
    background: white;
    padding: 1rem;
    border: 1px solid #0e4f1f;
    font-size: 1.2rem;
    color: #0e4f1f;
}

/* Хак для того, чтобы секция #free "не схлопывалась" при использовании float */
.clearfix {
    clear: both;
}

#plus {
    background: rgba(213, 255, 220, 0.95);
}

#free {
    background: rgba(234, 252, 237, 0.95);
    float: right;
    border-right: none;
    border-left: 4px solid #0e4f1f;
    text-align: right;
}

#free:hover,
#free:active {
    border-left-color: #ff5454;
}

#premium {
    background: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
    color: white;
}

#premium .package__annotation {
    color: #bbb;
}

@media (min-width: 40rem) {
    main {
      margin: 3rem auto;
      max-width: 1500px;
    }
}

@media (min-width: 1500px) {
    .package {
        border-left: 4px solid #0e4f1f;
    }

    #free {
        border-right: 4px solid #0e4f1f;
    }

    #free:hover,
    #free:active {
        border-right-color: #ff5454;
    }
}